//
   Created by yuzaizai on 2016/5/25.


extends ../layout
block content
   .container
      .row
         .col-md-5
            form(method="POST", action="/organ/organsignup")
               .modal-body
                  .form-group
                     label(for="organName") 组织名
                     input#organName.form-control(name="organization[organName]", type="text")
                  .form-group
                     label(for="organUri") URI
                     input#organUri.form-control(name="organization[uri]",type="text")
                  .form-group
                     label(for="organAccount") 访问账号
                     input#organUri.form-control(name="organization[account]",type="text")
                  .form-group
                     label(for="accessPwd") 访问密码
                     input#accessPwd.form-control(name="organization[accessPwd]", type="password")
                  .form-group
                     input(name="organization[userId]", type="hidden" ,value=user._id)
               .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                  button.btn.btn-success(type="submit") 提交
