//
   Created by yuzaizai on 2016/11/23.

extends ../userLayout
block content
   input(type="hidden",value="#{user._id}",id="userId")
   .container
      .row
         table#organDepListTable.table.table-hover.table-bordered
            thead
               tr
                  th 部门ID
                  th 组织部门名
            tbody
               if departments!=null && departments.length >0
                  each depart in departments
                     tr(class="item-id-#{depart._id}")
                        td #{depart.depId}
                        td #{depart.depName}
         ul(id="dep")
   script(src='/js/socket.io.js')
   script.
      var socket = io.connect('http://localhost');
      var userId = document.getElementById("userId").value;
      socket.on('news', function (data) {
         alert(data.hello);
         console.log(data);
         socket.emit('my other event', { my: 'data' });
      });
   script(src='/js/OrganDepList.js',type='text/javascript',charset='utf-8')