//
   Created by yuzaizai on 2016/11/23.

extends ../userLayout
block content
   .container
      .row
         table.table.table-hover.table-bordered
            thead
               tr
                  th 组织部门名
                  th
            tbody
               each depart in departments
                  tr(class="item-id-#{depart._id}")
                     td #{depart.depName}
                     td
                        button.btn.btn-danger.del(type="button", data-id="#{depart._id}") 刷新